*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body {
    width: 100%;
}

#topSection {
    max-width: 1960px;
    flex-wrap: wrap
}

#topSection>img {
    height: 5rem;
}

#topSection>h2,
main>h1 {
    font-size: 2rem;
    font-weight: 900;
    letter-spacing: 0.25rem;
}

#cambridge {
    background-color: maroon;
    width: 100%;
    height: fit-content;
}

#portfolioIndex {
    max-width: 1260px;
}

#portfolioIndex>div>div>h3 {
    font-size: 1.5rem;
    font-weight: 700;
}

.photoRow {
    max-width: 1260px;
    margin: 2rem 0;
}

.photoRow>img {
    width: 200px;
    border-radius: 25%;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

footer {
    background-color: maroon;
}

footer>div>p {
    font-weight: 500;
}

footer>div>p>a>img {
    height: 1.5rem;
}